[Desktop Entry]
Version=1.0
Type=Application
Name=Portfolio Performance
Icon=/opt/portfolio/icon.xpm
Exec=/opt/portfolio/PortfolioPerformance
Comment=Tool to calculate the overall performance of an investment portfolio
Terminal=false
Categories=Finance

