[submodule "vim/bundle/a.vim"]
	path = vim/bundle/a.vim
	url = https://github.com/vim-scripts/a.vim.git
	ignore = dirty
[submodule "vim/bundle/addon-mw-utils"]
	path = vim/bundle/addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
	ignore = dirty
[submodule "vim/bundle/ctrlp.vim"]
	path = vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
	ignore = dirty
[submodule "vim/bundle/delimitMate"]
	path = vim/bundle/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
	ignore = dirty
[submodule "vim/bundle/easymotion"]
	path = vim/bundle/easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
	ignore = dirty
[submodule "vim/bundle/emmet"]
	path = vim/bundle/emmet
	url = https://github.com/mattn/emmet-vim.git
	ignore = dirty
[submodule "vim/bundle/mru"]
	path = vim/bundle/mru
	url = https://github.com/yegappan/mru.git
	ignore = dirty
[submodule "vim/bundle/nerdcommenter"]
	path = vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
	ignore = dirty
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
	ignore = dirty
[submodule "vim/bundle/pathogen"]
	path = vim/bundle/pathogen
	url = https://github.com/tpope/vim-pathogen.git
	ignore = dirty
[submodule "vim/bundle/repeat"]
	path = vim/bundle/repeat
	url = https://github.com/tpope/vim-repeat.git
	ignore = dirty
[submodule "vim/bundle/slimv"]
	path = vim/bundle/slimv
	url = https://github.com/kovisoft/slimv.git
	ignore = dirty
[submodule "vim/bundle/snippets"]
	path = vim/bundle/snippets
	url = https://github.com/honza/vim-snippets.git
	ignore = dirty
[submodule "vim/bundle/surround"]
	path = vim/bundle/surround
	url = https://github.com/tpope/vim-surround.git
	ignore = dirty
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
	ignore = dirty
[submodule "vim/bundle/tabular"]
	path = vim/bundle/tabular
	url = https://github.com/godlygeek/tabular.git
	ignore = dirty
[submodule "vim/bundle/tagbar"]
	path = vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
	ignore = dirty
[submodule "vim/bundle/TaskList.vim"]
	path = vim/bundle/TaskList.vim
	url = https://github.com/vim-scripts/TaskList.vim.git
	ignore = dirty
[submodule "vim/bundle/tlib"]
	path = vim/bundle/tlib
	url = https://github.com/tomtom/tlib_vim.git
	ignore = dirty
[submodule "vim/bundle/ultisnips"]
	path = vim/bundle/ultisnips
	url = https://github.com/SirVer/ultisnips.git
	ignore = dirty
[submodule "vim/bundle/vim-colors-solarized"]
	path = vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
	ignore = dirty
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
	ignore = dirty
[submodule "vim/bundle/vim-gitgutter"]
	path = vim/bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
	ignore = dirty
[submodule "vim/bundle/vim-haml"]
	path = vim/bundle/vim-haml
	url = https://github.com/tpope/vim-haml
	ignore = dirty
[submodule "vim/bundle/vim-opencl"]
	path = vim/bundle/vim-opencl
	url = https://github.com/petRUShka/vim-opencl.git
	ignore = dirty
[submodule "vim/bundle/vim-trailing-whitespace"]
	path = vim/bundle/vim-trailing-whitespace
	url = https://github.com/bronson/vim-trailing-whitespace.git
	ignore = dirty
[submodule "vim/bundle/vimwiki"]
	path = vim/bundle/vimwiki
	url = https://github.com/vimwiki/vimwiki.git
	ignore = dirty
[submodule "vim/bundle/xml"]
	path = vim/bundle/xml
	url = https://github.com/othree/xml.vim.git
	ignore = dirty
[submodule "vim/bundle/YCM-Generator"]
	path = vim/bundle/YCM-Generator
	url = https://github.com/rdnetto/YCM-Generator
	branch = stable
	ignore = dirty
[submodule "vim/bundle/YouCompleteMe"]
	path = vim/bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
	ignore = dirty
[submodule "vim/bundle/youCompleteMe"]
	path = vim/bundle/youCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
	ignore = dirty
[submodule "vim/bundle/calendar-vim"]
	path = vim/bundle/calendar-vim
	url = git://github.com/mattn/calendar-vim
