.DS_Store
=======
# OS X
.DS_Store

# vim
.*.swp

# GPG
*.gpg
*.gpg~
*.gpg.lock
.*.lalaith.local.*
random_seed
gnupg/profile.jpg

# Python
*.py[cod]

# Backup file
backup/*

# Pentadactyl
pentadactyl/info

# PulseAudio
config/pulse

# Things I did not create and therefore should not be distributing
fonts
i3/wp

# Ranger
config/ranger/bookmarks
config/ranger/history

