[submodule "vim/bundle/a.vim"]
	path = vim/bundle/a.vim
	url = https://github.com/vim-scripts/a.vim.git
	ignore = dirty
[submodule "vim/bundle/TaskList.vim"]
	path = vim/bundle/TaskList.vim
	url = https://github.com/vim-scripts/TaskList.vim.git
	ignore = dirty
[submodule "vim/bundle/ultisnips"]
	path = vim/bundle/ultisnips
	url = https://github.com/SirVer/ultisnips.git
	ignore = dirty
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
	ignore = dirty
[submodule "vim/bundle/vimwiki"]
	path = vim/bundle/vimwiki
	url = https://github.com/vimwiki/vimwiki.git
	ignore = dirty
[submodule "vim/bundle/youCompleteMe"]
	path = vim/bundle/youCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
	ignore = dirty
